.footer-bar {
  width: 100%;
  background-color: #dad5c2;
  height: 0.063rem;

  /* var 2 */
  background-color: #1a1e23;
  background-color: #f8d8af;
  background-color: #fff;
  background-color: #ebebed;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.footer-menu > a {
  text-decoration: none;
  color: #fff;

  /* var 2 */
  color: #1a1e23;
  color: #f8d8af;
  color: #fff;
  color: #ebebed;
  font-size: 0.875rem;
}

.footer-menu > a:hover {
  text-decoration: underline;
}

.footer-menu-container-circle {
  font-size: 0.313rem;
}

@media (max-width: 71.875rem) {
  .footer-menu {
    width: 70%;
  }
}

@media (max-width: 43.75rem) {
  .footer-menu {
    width: 90%;
  }
}
