.footer-section {
  background-image: url("../../resources/footer-image.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 550px;
  font-weight: 300;
}

.footer-image-overlay {
  background-color: rgba(26, 0, 0, 0.85);
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-bottom: 50px;
}

.footer-contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.footer-contact-details > a,
.footer-socials > a {
  text-decoration: none;
  color: #fff;
}

.footer-contact-details > a:hover {
  text-decoration: underline;
}

.footer-socials > a:hover {
  color: #487254;
  transition: 0.3s;
}

.footer-socials {
  display: flex;
  gap: 20px;
  font-size: 30px;
}

.footer-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.footer-copyright {
  position: absolute;
  bottom: 28px;
}
