.footer-section {
  width: 100%;
  height: 34.375rem;
  font-weight: 300;
}

.footer-image-overlay {
  background-color: rgba(26, 0, 0, 0.85);
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  /* var 2 */
  /* background-color: rgba(235, 235, 237, 1); */
  background-color: rgba(255, 255, 255, 1);
  background-color: #1a1e23;
  color: #1a1e23;
  color: #fff;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  padding-bottom: 3.125rem;
}

.footer-contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  font-size: 1.125rem;
}

.footer-contact-details > a,
.footer-socials > a {
  text-decoration: none;
  color: #fff;

  /* var 2 */
  color: #ebebed;
}

.footer-contact-details > a:hover {
  text-decoration: underline;
}

.footer-socials > a:hover {
  color: #f8d8af;
  transition: 0.3s;
}

.footer-socials {
  display: flex;
  gap: 1.25rem;
  font-size: 1.875rem;
}

.footer-menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 1.875rem;
  justify-content: center;
}

.footer-copyright {
  position: absolute;
  bottom: 1.75rem;
  font-size: 0.875rem;
}
