.footer-bar {
  width: 100%;
  background-color: #dad5c2;
  height: 1px;

  /* var 2 */
  background-color: #1a1e23;
  background-color: #f8d8af;
  background-color: #fff;
  background-color: #ebebed;
}

.footer-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.footer-menu > a {
  text-decoration: none;
  color: #fff;

  /* var 2 */
  color: #1a1e23;
  color: #f8d8af;
  color: #fff;
  color: #ebebed;
}

.footer-menu > a:hover {
  text-decoration: underline;
}

.footer-menu-container-circle {
  font-size: 5px;
}
