.hotel-section {
  padding: 5.313rem 0;
  padding-bottom: 9.375rem;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.hotel-section-title {
  padding-left: 15%;
  font-size: 3.875rem;
  padding-bottom: 2.813rem;

  /* var 2 */
  color: #fff;
  width: 100%;
}

.hotels {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr 1fr;
  /* background-color: red; */
  gap: 3.125rem;
  width: 85%;
}

@media (max-width: 93.125rem) {
  .hotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
  }
}
