.hotel {
  width: 500px;
  height: 600px;
  background-color: #f6f3e9;
  color: #52514e;
  animation: all 0.5s;
  overflow: hidden;

  /* var 2 */
  /* background-color: #2f3740; */
  background-color: #1a1e23;
}

.hotel-image-container {
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.hotel-image {
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 0.4s;
}

.hotel:hover img {
  transform: scale(1.1);
}

.hotel-information {
  /* border: 2px solid #ebebed; */
  border-top: none;
  /* padding: 2.2rem 2.8rem 1rem 3.8rem; */
  padding: 2.2rem 2.8rem 1.4rem 3.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  position: relative;

  /* border: 2px solid #1a1e23;
  border-top: none; */
}

.hotel-title {
  font-size: 1.7rem;
  font-weight: 600;
  padding-bottom: 26px;

  /* var 2 */
  color: #fff;
}

.hotel-price {
  color: #487254;
  font-size: 1.8rem;
  font-weight: 500;

  /* var 2 */
  color: #f8d8af;
}

.hotel-price span {
  color: #a0a0a0;
  font-weight: 400;
  font-size: 1.3rem;

  /* var 2 */
  color: #ebebeb;
}

.hotel-extra-info {
  display: flex;
  justify-content: space-between;
}

.hotel-breakfast-price {
  color: #a0a0a0;

  /* var 2 */
  color: #ebebeb;
}

.hotel-extra-info-rating {
  background-color: #2f3740;
  color: #f6f3e9;
  padding: 10px 15px;
  width: fit-content;
  position: absolute;
  /* right: 2.8rem; */
  /* bottom: 1.2rem; */
  /* var 2: bottom: 1.4rem; */
  font-size: 1.4rem;

  /* var 2 */
  background-color: #1a1e23;
  color: #f8d8af;
  right: 3rem;
  top: -4rem;
}
