.advantages-section {
  padding: 150px 0 0;

  /* var 2 */
  border-top: 2px solid #f8d8af;
}

.advantages-container {
  width: 100%;
  height: 700px;
}

.advantages-image-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;

  /* var 2 */
  background-color: rgba(235, 235, 237, 1);
  color: #1a1e23;
}

.advantages {
  display: flex;
  gap: 5%;
}

.advantages-title {
  font-size: 70px;
}
