.booking-error-section {
  width: 40%;
  height: 10%;
  background-color: #ebebed;
  margin-top: 15%;
  border: 0.125rem solid #f8d8af;
  color: #1a1e23;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem 6.25rem;
  position: relative;
}

.booking-error-section p {
  font-size: 1.25rem;
  color: #1a1e23;
}

.close-modal-button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background-color: #1a1e23;
  color: #f8d8af;
  padding: 1.125rem 1.25rem;
  font-size: 1.25rem;
}

@media (max-width: 67.25rem) {
  .booking-error-section {
    width: 70%;
  }
}
