.booking-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 10.625rem 0 9.375rem;
  background-color: #fff;
  position: relative;
}

.section-title-tag {
  display: flex;
  height: 0.625rem;
  align-items: center;
  gap: 1.875rem;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  color: #f8d8af;
}

.section-engaging-subtitle {
  font-size: 2.25rem;
  text-align: center;
  line-height: 3.125rem;
  color: #1a1e23;
}

.form-card {
  display: flex;
  width: 62.5rem;
  height: 40.625rem;
  padding: 0.625rem 28.125rem;
}

.form-image {
  width: 50%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 65.625rem) {
  .form-card {
    width: 50rem;
  }
}

@media (max-width: 50rem) {
  .form-card {
    width: 40.625rem;
  }

  .form-image {
    width: 35%;
    object-position: bottom right;
  }
}

@media (max-width: 43.75rem) {
  .form-image {
    width: 0;
  }
  .form-card {
    width: 75%;
  }
}
