.booking-confirmation-section {
  width: 40%;
  height: 70%;
  background-color: #ebebed;
  margin-top: 4%;
  border: 0.125rem solid #f8d8af;
  color: #1a1e23;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1.25rem 6.25rem;
  position: relative;
  animation: 0.7s ease-out slideDown;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.hotel-image-container {
  width: 100%;
  height: auto;
}

.image {
  width: 100%;
  height: auto;
}

.fullname {
  text-align: center;
  font-size: 3rem;
}

.booking-details {
  display: flex;
  flex-direction: column;
  /* background-color: #1a1e23; */
  /* border: 0.125rem solid #f8d8af; */
  /* border: 0.125rem solid red; */
  background-color: #2f3740;
  color: #ebebed;
  width: 120%;
}

.hotel {
  background-color: #f8d8af;
  color: #1a1e23;
  text-align: center;
  font-size: 2rem;
  padding: 1.25rem 0;
}

.booking-stay-information {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5rem;
  padding-top: 1.25rem;
}

.number-of-guests,
.dates {
  display: flex;
  flex-direction: column;
  gap: 0.313rem;
  font-size: 1rem;
}

.table-details thead {
  border-top: 0.125rem solid #1a1e23;
}

.table-details th {
  font-size: 1rem;
  /* border: 0.125rem solid red; */
  text-align: center;
  white-space: nowrap;
  padding: 1.25rem 0.625rem;
}

.table-details td {
  text-align: center;
  padding: 1.25rem 0rem;
  background-color: #1a1e23;
  font-size: 1rem;
}

.booking-confirmation-section h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.total-price {
  font-size: 2rem;
  align-self: flex-start;
  margin-top: -1.25rem;
  color: #1a1e23;
  margin-left: -1.875rem;
}

.close-modal-button {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  background-color: #1a1e23;
  color: #f8d8af;
  padding: 1.125rem 1.25rem;
  font-size: 1.25rem;
}

@media (max-width: 67.25rem) {
  .booking-confirmation-section {
    width: 80%;
  }
}
