.titles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-title {
  font-size: 30px;
}

.required {
  color: #6c97a4;
  font-size: 18px;
}

.form-subtitle {
  font-style: italic;
  color: #aaa;
  margin-top: 5px;
}

.form {
  border-left: none;
  width: 100%;
  padding: 40px 60px;
  background-color: #dad5c2;
  background-color: #f6f3e9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid #dad5c2; */
  border-left: none;

  /* var 2 */
  background-color: #ebebed;
  background-color: #2f3740;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* varianta misto */
.form-inputs .field {
  height: 40px;
  width: 100%;
  position: relative;
}

.form-grouped-inputs {
  justify-content: space-between;
  margin: 5px 0;
}

.form-inputs .field select {
  height: 44px;
}

.form-inputs div input[type="date"] {
  height: 42px;
}

.form-input-booking-date input:focus ~ label,
.form-input-booking-date input:valid ~ label {
  transform: none;
}

.form-input-booking-date input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.form-grouped-inputs > .form-input-booking-date label {
  bottom: 30px;
  font-size: 15px;
  font-weight: 500;

  /* var 2 */
  /* color: #f8d8af; */
}

.form-inputs > .breakfast-input label {
  position: static;
  padding-right: 10px;
}

.form-inputs .form-grouped-inputs > * {
  width: auto;
  min-width: 40%;
}

.form-inputs .form-grouped-inputs .form-input-booking-date {
  width: 160px;
}

/*  */

.breakfast-input,
.form-grouped-inputs {
  display: flex;
  flex-direction: row;
}

.breakfast-input {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.breakfast-input label {
  color: #ebebed;
}

.button-submit {
  background-color: #487254;
  color: #fff;
  padding: 20px 40px;
  font-size: 16px;
  letter-spacing: 2px;

  /* var 2 */
  background-color: #1a1e23;
  background-color: #f8d8af;
  color: #1a1e23;
}

/* error handling */
.invalid input,
.invalid select {
  border-bottom: 2px solid #b00020;
}

.invalid label {
  color: #b00020;
}

.form-grouped-inputs > .invalid label {
  color: #b00020;
}

.invalid input:focus ~ label,
.invalid input:valid ~ label,
.invalid select:focus ~ label,
.invalid select:valid ~ label {
  color: #b00020;
}

.invalid .underline:before {
  background: #b00020;
}

.error-container {
  height: 8px;
  margin-top: -10px;
}

.error-text {
  color: #b00020;
}
