.container {
  /* background-color: red; */
  height: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-bottom: 2px solid #dad5c2; */

  /* var 2 */
  background-color: #fff;
  background-color: #2f3740;
  /* border-bottom: 2px solid #ebebed; */
}

.logo {
  padding-left: 7%;
}

.menu {
  /* background-color: blue; */
  display: flex;
  gap: 60px;
}

.link {
  text-decoration: none;
  color: #52514e;
  /* var 2 */
  /* color: #2f3740; */
  color: #f8d8af;
  color: #2f3740;
  color: #fff;
  font-size: 16px;
}
