.container {
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  /* var 2 */
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 9;
  position: absolute;
}

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #1a1e23;
  background-color: #2f3740;
  animation: 0.5s ease-out slideDown;
}

.container > div {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  /* background-color: blue; */
  display: flex;
  gap: 60px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #52514e;
  /* var 2 */
  /* color: #2f3740; */
  color: #f8d8af;
  color: #2f3740;
  color: #fff;
  font-size: 16px;
}

.link:hover {
  color: #f8d8af;
  transition: 0.3s all;
  cursor: pointer;
}

.book-link {
  background-color: #f8d8af;
  color: #1a1e23;
  padding: 20px 40px;
}

.book-link:hover {
  color: #1a1e23;
  background-color: #c6af8e;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
