.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 75px;
  gap: 45px;
  height: 100%;
  margin: 0 auto;
}

.encouraging-text {
  font-size: 25px;
  color: #52514e;
  text-align: left;
  font-weight: 500;
}

.handwritten {
  font-size: 85px;
  padding-left: 30px;
  color: #487254;
}

.handwritten-first-letter {
  font-size: 100px;
}

.welcome-buttons {
  font-size: 16px;
  letter-spacing: 2px;
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  align-content: flex-start;
}

.booking-button {
  border: 1px solid #487254;
  background-color: #487254;
  color: #fff;
  padding: 20px 40px;
}

.learn-more-button {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 20px 40px;
}
