.container {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-template-rows: auto 1fr;
  /* border-bottom: 2px solid #dad5c2; */
  overflow: hidden;
}

.header {
  grid-column: 1;
  grid-row: 1;
}
